@font-face {
    font-family: FontName;
    src: url('PaulGroteskSoft-Thin-Trail.otf');
}

html {
    font-family: FontName;
    /*font-family: 'Open Sans', sans-serif;*/
}

body {
    background-color: #02132B !important ;
    margin-bottom: 150px;
}

/* NAVIGATION */
.menu {
    position:fixed;
    top:0px;
    width:100%;
    height:auto;
    background-color: rgba(51, 51, 51, 0.8);
    /*  z-index:1;*/
}

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(51, 51, 51, 0.8);
}

.direction {
    display: inline;
}

.nav  li:hover {
    color: #fff ;
}

.nav ul ul li a:hover {
    color: #fff;
}

a#homepage.external.nav:hover {
    background: none;
    color: #fff;
}

a#buy.external:hover {
    color: #fff;
}

a#previous:hover {
    color: #fff;
}

.nav ul ul {
    display: none;
    position: absolute; top: 60px;
    margin-left: 0%;
    font-size: 1rem;
    list-style-type: none;
    background-color: #B73737;
    width: 10%;
    padding: 1%;
}

ul#menu.nav.navbar-nav{
    display: none;
    background-color:#B73737;
}
.header .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.header .navbar {
    min-height: 70px;
    margin-bottom: 0px;
}

.header .navbar-brand {
    padding: 7px 15px;
}

.header .navbar-form {
    margin-top: 12px;
    margin-right:60px;
}
/*END NAVIGATION*/