body {
  /*background-color: #02132B;*/
  font-family: "Muli", sans-serif;
}

h1 {
  margin-top: 50px;
  font-size: 5em;
}

.App-link {
  color: #61dafb;
}

.banner {
  background-color: #fff;
  height: 400px;
}

.describe {
  background-color: #02132b;
  height: 300px;
  margin-top: 2%;
}

.describe h3,
p {
  margin-top: 1%;
  color: #fff;
}

img {
  object-fit: cover;
  position: relative;
  height: 100%;
}

.images {
  width: 950px;
  height: 600px;
  object-fit: cover;
}

.options {
  margin-top: 1%;
}

.about {
  margin-top: 10%;
}

.about-heading {
  color: #fff;
}

.navbar {
  background-color: #02132b;
}

#main {
  height: 100vh;
}
